<div class="flex flex-row mt-4">
  <aside class="md:basis-1/4">
    <h4>BlogApp</h4>

    <ul class="">
      <li><a href="" class="">Home</a></li>
      <li><a href="" class="">Discover</a></li>
      <li><a href="" class="">Notifications</a></li>
      <li><a href="" class="">Profile</a></li>
      <li><a href="" class="">Bookmarks</a></li>
    </ul>
  </aside>

  <main class="md:basis-full">
    <!-- header -->
    <header><h4>What's Trending?</h4></header>
    <!-- composer -->
    <form
      class="grid gap-2"
      [formGroup]="composerForm"
      (ngSubmit)="getFormData($event)"
    >
      <app-composer [composerForm]="composerForm" />
    </form>
    <!-- cards -->
    <div class="grid gap-4">
      <app-card />
      <app-card />
      <app-card />
    </div>
  </main>
</div>
